$headingBaselineShift: 0.3em;
$headingLinesBefore: 1;
$headingLinesAfter: 0;
@import "typeup";

$ratio: 16/15;

$headingFont: 'freight-sans-pro', sans-serif;
$bodyFont: 'freight-sans-pro', sans-serif;
$bodyFont: 'adobe-caslon-pro', serif;

body {
	font-family: $bodyFont;
	color:#444;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:600;
	font-family: $headingFont;
	color:#222;
}

.blog-post {
	@include typeup-container(1.7em, 28em, 0.4);
	margin:0 auto;
}