@import "compass/reset";
@import "typeup";
@import "compass/layout/grid-background";

$headingBaselineShift: 0em;

$headingFont: 'kepler-std-caption', serif;
$bodyFont: 'freight-sans-pro', sans-serif;

$containerSpacing: 50px;

$my-ratio: 11 / 9;
$ratio: $my-ratio;

body {
	width:350em;
	font-family: $bodyFont;
	color:#444;
}

pre {
	background-color:rgba(0,0,0,0.1);
	margin-top:0;
}
code {
	font-family:monospace;
}
blockquote {
	background-color:rgba(0,0,0,0.1);
	margin-top:0;
	margin-left:0;
	margin-right:0;
}
ul {
	list-style-type:disc;
	padding-left:0;
}
ol {
	padding-left:0;
	list-style-type:decimal;
}
em {
	font-style:italic;
}

.first {
	@include typeup-container(1em, 35em, 1);
	margin: $containerSpacing;
	float:left;
	border:1px solid rgba(0,0,0,0.2);
	padding:$typeup-lineHeight * 2;
}

.second {
	@include typeup-container(0.9em, 15em, 1);
	margin: $containerSpacing;
	float:left;
	border:1px solid rgba(0,0,0,0.2);
	padding:$typeup-lineHeight * 2;
}

.third {
	@include typeup-container(1.5em, 25em, 1);
	margin: $containerSpacing;
	float:left;
	border:1px solid rgba(0,0,0,0.2);
	padding:$typeup-lineHeight * 2;
}

.wide {
	@include typeup-container(1em, 55em, 1);
	margin: $containerSpacing;
	float:left;
	border:1px solid rgba(0,0,0,0.2);
	padding:$typeup-lineHeight * 2;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:400;
	font-family: $headingFont;
	color:#222;
}