@import "compass/reset";
@import "typeup.scss";

$headingFont: 'kepler-std-caption', serif;
$bodyFont: 'freight-sans-pro', sans-serif;

body {
	line-height: $lineHeight;
	font-size: $fontSize;
	font-family: $bodyFont;
	//background: url(http://baselinebg.keyes.ie?h=36) repeat;
	background-position: center 5px;
}

#main {
	width: $containerWidth;
	margin: $lineHeight * 4 auto;
}

