@import "compass/reset";
@import "typeup";
$ratio: minor-third();
$fontSize:1.5em;
$containerWidth: 35em;

$headingFont: 'kepler-std-caption', serif;
$bodyFont: 'freight-sans-pro', sans-serif;

#main {
	font-family: $bodyFont;
	//background: url(http://baselinebg.keyes.ie?h=36) repeat;
	background-position: center 5px;
	@include typeup();
	margin-top:$lineHeight * 4;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:400;
	font-family: $headingFont;
}