!!! 5
%html
	%head
		%title Typeup
		%meta{ :content => "Typeup", :name => "description" }
		%meta{ :content => "Tommi Kaikkonen", :name => "author" }
		%script{ 'type': 'text/javascript', 'src': '//use.typekit.net/loo3tgq.js' }
		%script{ 'type': 'text/javascript'}
			try{Typekit.load();}catch(e){}
		%link{ :href => "stylesheets/screen.css", :media => "screen", :rel => "stylesheet" }
	%body
		#main
			:markdown
				# Typeup

				<p class="intro">Typeup is a Compass extension that creates a baseline-conforming vertical rhythm for your typography based on font size and line length. You can use it to kickstart your typography on blogs and websites.</p>

				You can also supply a `$xHeight` argument (default `1`) to finetune the baseline with fonts that have very low or high x-heights.

				## CSS for This Container

				They are simply:

					#main {
						@include typeup-container(1em, 35em, 1);
						margin: 4em;
						float:left;
					}

				The typeup-container rule gives you the vertical rhythm rules for headings 1 to 6, paragraphs, blockquotes, code elements and pre elements. It also gives the selector where it was included a width, `35em` in this case. You can use the `@include typeup-body($fontSize, $lineLength, $xHeight)` mixin to give global styles. 

				## Features

				* Baseline shift for headings
				* Settings for spacing
				* [Modular scale](http://modularscale.com/) for font-sizing (you can specify the ratio)
				* Line-height is based on line length to maintain readability at all times

		.second
			:markdown
				# Very narrow typography

				Don't worry, Typeup won't let you down. Line height is shortened when text is narrow, optimizing readability. Nice!

				## Everything

				Yes, everything.

				### Is Still

				Very much.

				#### Vertically

				Not horizontally.

				##### Rhythmic

				Yes!

				

		.third
			:markdown
				# Typeup can be big.

				Everything is still cool, don't worry!