!!! 5
%html
	%head
		%title Typeup
		%meta{ :content => "Typeup", :name => "description" }
		%meta{ :content => "Tommi Kaikkonen", :name => "author" }
		%script{ 'type': 'text/javascript', 'src': '//use.typekit.net/loo3tgq.js' }
		%script{ 'type': 'text/javascript'}
			try{Typekit.load();}catch(e){}
		%link{ :href => "stylesheets/screen.css", :media => "screen", :rel => "stylesheet" }
	%body
		.first
			:markdown
				# Type Up
				## Type Up
				### Type Up
				#### Type Up
				##### Type Up
				###### Type Up

		.second
			:markdown
				# Type Up can do narrow

				Line height is shortened when text is narrow, optimizing readability. Nice!

				## Everything

				The powered flight took a total of about eight and a half minutes. It seemed to me it had gone by in a lash. We had gone from sitting still on the launch pad at the Kennedy Space Center to traveling at 17,500 miles an hour in that eight and a half minutes.

				Since, in the long run, every planetary civilization will be endangered by impacts from space, every surviving civilization is obliged to become spacefaring--not because of exploratory or romantic zeal, but for the most practical reason imaginable: staying alive... If our long-term survival is at stake, we have a basic responsibility to our species to venture to other worlds.

				### Is Still

				Very much.

				#### Vertically

				Not horizontally.

				##### Rhythmic

				Yes!

				### Filler text, coming up!

				The powered flight took a total of about eight and a half minutes. It seemed to me it had gone by in a lash. We had gone from sitting still on the launch pad at the Kennedy Space Center to traveling at 17,500 miles an hour in that eight and a half minutes.

				## Settings for This Container

					$fontSize: 0.9em;
					$lineLength: 15em;
					$xHeight: 1;

		.wide
			:markdown
				# Type Up can do wiiide.

				Everything is still cool, don't worry! As you set the line length wider, Typeup compensates by widening the line height so that readability won't suffer.

				### Filler text, coming up!

				The powered flight took a total of about eight and a half minutes. It seemed to me it had gone by in a lash. We had gone from sitting still on the launch pad at the Kennedy Space Center to traveling at 17,500 miles an hour in that eight and a half minutes. It is still mind-boggling to me. I recall making some statement on the air-to-ground radio for the benefit of my fellow astronauts, who had also been in the program a long time, that it was well worth the wait.

			%blockquote
				That's one small step for [a] man; one giant leap for mankind.

			:markdown
				The powered flight took a total of about eight and a half minutes. It seemed to me it had gone by in a lash. We had gone from sitting still on the launch pad at the Kennedy Space Center to traveling at 17,500 miles an hour in that eight and a half minutes. It is still mind-boggling to me. I recall making some statement on the air-to-ground radio for the benefit of my fellow astronauts, who had also been in the program a long time, that it was well worth the wait.

				## Settings for This Container

					$fontSize: 1em;
					$lineLength: 55em;
					$xHeight: 1;

		.third
			:markdown
				# Type Up can do big.

				Since, in the long run, every planetary civilization will be endangered by impacts from space, every surviving civilization is obliged to become spacefaring--not because of exploratory or romantic zeal, but for the most practical reason imaginable: staying alive... If our long-term survival is at stake, we have a basic responsibility to our species to venture to other worlds.

				### Filler text, coming up!

				Since, in the long run, every planetary civilization will be endangered by impacts from space, every surviving civilization is obliged to become spacefaring--not because of exploratory or romantic zeal, but for the most practical reason imaginable: staying alive... If our long-term survival is at stake, we have a basic responsibility to our species to venture to other worlds.
