
//-----------------------
//
// MAIN SETTINGS
//
//-----------------------

// Base font size, in ems.
$fontSize: 1em !default;

// Container width. Final absolute width depends on font size.
$lineLength: 35em !default;

// This is a multiplier you can use to adjust line height,
// particularly for fonts with very high or low x-heights.
$xHeight:1 !default;

// The ratio scale that modular-scale will use.
$ratio: fourth() !default;

// This variable is for modular-scale, copied from fontSize.
$base-size: $fontSize;

// Unless you are overriding your browser base font size,
// there is no need to touch this.
$baseFontSize: 16px !default;

// If the base font size and font size dont result in
// a integer, snap it
$pixelSnapBaseSize: true !default;


$minimumLineHeight: 0.7 !default;



// Outputting this variable for use before applying
// typeup-container() or typeup-body() mixins
$typeup-lineHeight: typeup-calcLineHeight($fontSize, $lineLength, $xHeight) !default;

//-----------------------
//
// DETAILED SETTINGS
//
//-----------------------

// If true, will copy
// heading styles to a class
// like .heading1
$doubleStrandedHeadingClasses: false !default;

// H1 gets ms(4), h2 gets (ms3) and so on.
// Modular scale won't go below 0, though.
//
// So if you put in 2 here,
// h1 will get ms(2), h2 will get ms(1) and
// all the rest will get ms(0)
$startModularScaleAt: 4 !default;

// Using square root for line height calculation

$calcExponent: 1/2 !default;

//----------------------------------
// Heading spacing default settings
//----------------------------------

// This determines if headings have spacing relative to global
// (paragraph text) line height (=true), or the calculated line
// height of the heading (=false). False is recommended as it
// maintains a solid relative spacing when the headings line height
// is significantly larger or smaller than the global line height.
$overrideSpacingWithBaseline: false !default;

// How many line-heights of margin on top of heading
$headingLinesBefore: 1 !default;

// How many line-height of margin on bottom of heading
$headingLinesAfter: 0 !default;

// Amount of baseline-shift in em (relative to heading size)
$headingBaselineShift:0em !default;

//----------------------------------
// Heading spacing
//----------------------------------

// H1 Spacing settings
$h1LinesBefore: 1 !default;
$h1LinesAfter: $headingLinesAfter !default;
$h1BaselineShift: $headingBaselineShift !default;

// H2 Spacing settings
$h2LinesBefore: $headingLinesBefore !default;
$h2LinesAfter: $headingLinesAfter !default;
$h2BaselineShift: $headingBaselineShift !default;

// H3 Spacing settings
$h3LinesBefore: $headingLinesBefore !default;
$h3LinesAfter: $headingLinesAfter !default;
$h3BaselineShift: $headingBaselineShift !default;

// H4 Spacing settings
$h4LinesBefore: $headingLinesBefore !default;
$h4LinesAfter: $headingLinesAfter !default;
$h4BaselineShift: $headingBaselineShift !default;

// H5 Spacing settings
$h5LinesBefore: $headingLinesBefore !default;
$h5LinesAfter: $headingLinesAfter !default;
$h5BaselineShift: $headingBaselineShift !default;

// H6 Spacing settings
$h6LinesBefore: $headingLinesBefore !default;
$h6LinesAfter: $headingLinesAfter !default;
$h6BaselineShift: $headingBaselineShift !default;