/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p374@normal/gems/typeup-0.1.1/stylesheets/_typeup.scss */
body {
  line-height: 1.375em;
  font-size: 1em; }

/* line 80, ../../../../.rvm/gems/ruby-1.9.3-p374@normal/gems/typeup-0.1.1/stylesheets/_typeup.scss */
h1, .heading1 {
  font-size: 3.16049em;
  margin-top: 1.08765em;
  margin-bottom: 0em;
  line-height: 1.08765em; }

/* line 80, ../../../../.rvm/gems/ruby-1.9.3-p374@normal/gems/typeup-0.1.1/stylesheets/_typeup.scss */
h2, .heading2 {
  font-size: 2.37037em;
  margin-top: 1.16016em;
  margin-bottom: 0em;
  line-height: 1.16016em; }

/* line 80, ../../../../.rvm/gems/ruby-1.9.3-p374@normal/gems/typeup-0.1.1/stylesheets/_typeup.scss */
h3, .heading3 {
  font-size: 1.77778em;
  margin-top: 1.16016em;
  margin-bottom: 0em;
  line-height: 1.16016em; }

/* line 80, ../../../../.rvm/gems/ruby-1.9.3-p374@normal/gems/typeup-0.1.1/stylesheets/_typeup.scss */
h4, .heading4 {
  font-size: 1.33333em;
  margin-top: 1.03125em;
  margin-bottom: 0em;
  line-height: 1.03125em; }

/* line 80, ../../../../.rvm/gems/ruby-1.9.3-p374@normal/gems/typeup-0.1.1/stylesheets/_typeup.scss */
h5, .heading5 {
  font-size: 1em;
  margin-top: 1.375em;
  margin-bottom: 0em;
  line-height: 1.375em; }

/* line 80, ../../../../.rvm/gems/ruby-1.9.3-p374@normal/gems/typeup-0.1.1/stylesheets/_typeup.scss */
h6, .heading6 {
  font-size: 1em;
  margin-top: 1.375em;
  margin-bottom: 0em;
  line-height: 1.375em; }

/* line 110, ../../../../.rvm/gems/ruby-1.9.3-p374@normal/gems/typeup-0.1.1/stylesheets/_typeup.scss */
p, ul, ol, pre {
  margin-top: 0;
  margin-bottom: 1.375em; }

/* line 115, ../../../../.rvm/gems/ruby-1.9.3-p374@normal/gems/typeup-0.1.1/stylesheets/_typeup.scss */
ul, ol {
  padding-left: 1.375em; }

/* line 119, ../../../../.rvm/gems/ruby-1.9.3-p374@normal/gems/typeup-0.1.1/stylesheets/_typeup.scss */
pre {
  padding: 1.375em; }
  /* line 122, ../../../../.rvm/gems/ruby-1.9.3-p374@normal/gems/typeup-0.1.1/stylesheets/_typeup.scss */
  pre code {
    line-height: 1.375em; }

/* line 127, ../../../../.rvm/gems/ruby-1.9.3-p374@normal/gems/typeup-0.1.1/stylesheets/_typeup.scss */
blockquote {
  padding: 1.375em;
  margin-top: 1.375em;
  margin-bottom: 1.375em; }
  /* line 132, ../../../../.rvm/gems/ruby-1.9.3-p374@normal/gems/typeup-0.1.1/stylesheets/_typeup.scss */
  blockquote p:last-child {
    margin-bottom: 0; }

/* line 10, docs.css.scss */
code {
  white-space: pre-wrap; }

/* line 14, docs.css.scss */
pre {
  background-color: gray;
  border-radius: 4px; }

/* line 18, docs.css.scss */
pre code {
  color: #fff;
  border: none;
  padding: 0;
  margin: 0; }

/* line 25, docs.css.scss */
.docs-top {
  margin-top: 2.75em; }

/* line 29, docs.css.scss */
.docs-container {
  *zoom: 1;
  max-width: 49em;
  _width: 49em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .docs-container:after {
    content: "";
    display: table;
    clear: both; }

/* line 34, docs.css.scss */
.nav {
  display: none; }

/* line 38, docs.css.scss */
.docs-wrapper, .title {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  padding-left: 0;
  padding-right: 0; }

/* line 44, docs.css.scss */
.logo {
  font-size: 1.77778em;
  margin-top: 0; }

/* line 49, docs.css.scss */
.title h1, .title .heading1 {
  margin-top: 0;
  line-height: 3.48047; }

/* line 54, docs.css.scss */
.docs-wrapper h2:first-child, .docs-wrapper .heading2:first-child {
  margin-top: 0; }

@media (min-width: 44em) {
  /* line 60, docs.css.scss */
  .logo {
    font-size: 1.77778em;
    line-height: 6.1875; }

  /* line 65, docs.css.scss */
  .logo, .nav {
    display: block;
    width: 38.77551%;
    float: left;
    margin-right: 2.04082%; }

  /* line 70, docs.css.scss */
  .docs-wrapper, .title {
    width: 59.18367%;
    float: right;
    margin-right: 0; } }
