/* line 17, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*------------------------------

MAIN SETTINGS

--------------------------------*/
/*
* This is a multiplier you can use to adjust line height,
* particularly for fonts with very high or low x-heights.
*/
/*------------------------------

DETAILED SETTINGS

--------------------------------*/
/*------------------------------
Heading spacing default settings
--------------------------------*/
/*------------------------------
Heading spacing 
--------------------------------*/
/*------------------------------

THE MIXIN

--------------------------------*/
/* line 15, ../sass/screen.scss */
body {
  width: 350em;
  font-family: "freight-sans-pro", sans-serif;
  color: #444;
}

/* line 21, ../sass/screen.scss */
pre {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 24, ../sass/screen.scss */
code {
  font-family: monospace;
}

/* line 27, ../sass/screen.scss */
blockquote {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 30, ../sass/screen.scss */
ul {
  list-style-type: disc;
}

/* line 33, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 37, ../sass/screen.scss */
.first {
  width: 35em;
  line-height: 1.50333em;
  font-size: 1em;
  margin: 0 auto;
  margin: 50px;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3.00666em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.first h1 {
  font-size: 2.23152em;
  margin-top: 1.01052em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.01052;
  top: -0.15em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.first h2 {
  font-size: 1.82579em;
  margin-top: 1.23508em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.23508;
  top: -0.15em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.first h3 {
  font-size: 1.49383em;
  margin-top: 1.00636em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.00636;
  top: -0.15em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.first h4 {
  font-size: 1.22222em;
  margin-top: 1.23em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.23;
  top: -0.15em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.first h5 {
  font-size: 1em;
  margin-top: 1.50333em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.50333;
  top: -0.15em;
}
/* line 50, ../extensions/typeup/stylesheets/_typeup.scss */
.first p {
  margin-top: 0;
  margin-bottom: 1.50333em;
}
/* line 55, ../extensions/typeup/stylesheets/_typeup.scss */
.first ul {
  padding-left: 0;
}
/* line 59, ../extensions/typeup/stylesheets/_typeup.scss */
.first pre {
  padding: 1.50333em;
  margin-bottom: 1.50333em;
}
/* line 64, ../extensions/typeup/stylesheets/_typeup.scss */
.first .intro {
  font-size: 1.1em;
  margin-top: 0em;
  margin-bottom: 1.36666em;
  position: relative;
  line-height: 1.36666;
  top: 0em;
}
/* line 69, ../extensions/typeup/stylesheets/_typeup.scss */
.first blockquote {
  padding: 1.50333em;
  margin-top: 1.50333em;
  margin-bottom: 1.50333em;
}
/* line 74, ../extensions/typeup/stylesheets/_typeup.scss */
.first blockquote p:last-child {
  margin-bottom: 0;
}

/* line 45, ../sass/screen.scss */
.second {
  width: 15em;
  line-height: 1.21902em;
  font-size: 0.9em;
  margin: 0 auto;
  margin: 50px;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2.43803em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.second h1 {
  font-size: 2.00837em;
  margin-top: 0.60697em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.21394;
  top: -0.15em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.second h2 {
  font-size: 1.64321em;
  margin-top: 1.11278em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.11278;
  top: -0.15em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.second h3 {
  font-size: 1.34444em;
  margin-top: 1.36006em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.36006;
  top: -0.15em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.second h4 {
  font-size: 1.1em;
  margin-top: 1.1082em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.1082;
  top: -0.15em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.second h5 {
  font-size: 0.9em;
  margin-top: 1.35446em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.35446;
  top: -0.15em;
}
/* line 50, ../extensions/typeup/stylesheets/_typeup.scss */
.second p {
  margin-top: 0;
  margin-bottom: 1.21902em;
}
/* line 55, ../extensions/typeup/stylesheets/_typeup.scss */
.second ul {
  padding-left: 0;
}
/* line 59, ../extensions/typeup/stylesheets/_typeup.scss */
.second pre {
  padding: 1.21902em;
  margin-bottom: 1.21902em;
}
/* line 64, ../extensions/typeup/stylesheets/_typeup.scss */
.second .intro {
  font-size: 1.1em;
  margin-top: 0em;
  margin-bottom: 1.1082em;
  position: relative;
  line-height: 1.1082;
  top: 0em;
}
/* line 69, ../extensions/typeup/stylesheets/_typeup.scss */
.second blockquote {
  padding: 1.21902em;
  margin-top: 1.21902em;
  margin-bottom: 1.21902em;
}
/* line 74, ../extensions/typeup/stylesheets/_typeup.scss */
.second blockquote p:last-child {
  margin-bottom: 0;
}

/* line 53, ../sass/screen.scss */
.third {
  width: 25em;
  line-height: 1.53297em;
  font-size: 1.5em;
  margin: 0 auto;
  margin: 50px;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3.06594em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.third h1 {
  font-size: 3.34728em;
  margin-top: 0.68696em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.14494;
  top: -0.15em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.third h2 {
  font-size: 2.73868em;
  margin-top: 0.55975em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.11949;
  top: -0.15em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.third h3 {
  font-size: 2.24074em;
  margin-top: 1.0262em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.0262;
  top: -0.15em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.third h4 {
  font-size: 1.83333em;
  margin-top: 1.25425em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.25425;
  top: -0.15em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.third h5 {
  font-size: 1.5em;
  margin-top: 1.02198em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.02198;
  top: -0.15em;
}
/* line 50, ../extensions/typeup/stylesheets/_typeup.scss */
.third p {
  margin-top: 0;
  margin-bottom: 1.53297em;
}
/* line 55, ../extensions/typeup/stylesheets/_typeup.scss */
.third ul {
  padding-left: 0;
}
/* line 59, ../extensions/typeup/stylesheets/_typeup.scss */
.third pre {
  padding: 1.53297em;
  margin-bottom: 1.53297em;
}
/* line 64, ../extensions/typeup/stylesheets/_typeup.scss */
.third .intro {
  font-size: 1.1em;
  margin-top: 0em;
  margin-bottom: 1.39361em;
  position: relative;
  line-height: 1.39361;
  top: 0em;
}
/* line 69, ../extensions/typeup/stylesheets/_typeup.scss */
.third blockquote {
  padding: 1.53297em;
  margin-top: 1.53297em;
  margin-bottom: 1.53297em;
}
/* line 74, ../extensions/typeup/stylesheets/_typeup.scss */
.third blockquote p:last-child {
  margin-bottom: 0;
}

/* line 61, ../sass/screen.scss */
.wide {
  width: 55em;
  line-height: 1.72627em;
  font-size: 1em;
  margin: 0 auto;
  margin: 50px;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3.45254em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.wide h1 {
  font-size: 2.23152em;
  margin-top: 1.16038em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.16038;
  top: -0.15em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.wide h2 {
  font-size: 1.82579em;
  margin-top: 1.41824em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.41824;
  top: -0.15em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.wide h3 {
  font-size: 1.49383em;
  margin-top: 1.1556em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.1556;
  top: -0.15em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.wide h4 {
  font-size: 1.22222em;
  margin-top: 1.4124em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.4124;
  top: -0.15em;
}
/* line 35, ../extensions/typeup/stylesheets/_typeup.scss */
.wide h5 {
  font-size: 1em;
  margin-top: 1.72627em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.72627;
  top: -0.15em;
}
/* line 50, ../extensions/typeup/stylesheets/_typeup.scss */
.wide p {
  margin-top: 0;
  margin-bottom: 1.72627em;
}
/* line 55, ../extensions/typeup/stylesheets/_typeup.scss */
.wide ul {
  padding-left: 0;
}
/* line 59, ../extensions/typeup/stylesheets/_typeup.scss */
.wide pre {
  padding: 1.72627em;
  margin-bottom: 1.72627em;
}
/* line 64, ../extensions/typeup/stylesheets/_typeup.scss */
.wide .intro {
  font-size: 1.1em;
  margin-top: 0em;
  margin-bottom: 1.56933em;
  position: relative;
  line-height: 1.56933;
  top: 0em;
}
/* line 69, ../extensions/typeup/stylesheets/_typeup.scss */
.wide blockquote {
  padding: 1.72627em;
  margin-top: 1.72627em;
  margin-bottom: 1.72627em;
}
/* line 74, ../extensions/typeup/stylesheets/_typeup.scss */
.wide blockquote p:last-child {
  margin-bottom: 0;
}

/* line 69, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: "kepler-std-caption", serif;
  color: #222;
}
