/* line 17, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rvm/gems/ruby-1.9.3-p374@normal/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*------------------------------

MAIN SETTINGS

--------------------------------*/
/*
* This is a multiplier you can use to adjust line height,
* particularly for fonts with very high or low x-heights.
*/
/*------------------------------

DETAILED SETTINGS

--------------------------------*/
/*------------------------------
Heading spacing default settings
--------------------------------*/
/*------------------------------
Heading spacing 
--------------------------------*/
/*------------------------------

TYPOGRAPHY CALCULATIONS

--------------------------------*/
/*------------------------------

THE MIXIN

--------------------------------*/
/* line 11, ../sass/screen.scss */
#main {
  line-height: 1.60468em;
  font-size: 1.25em;
  width: 30em;
  margin: 0 auto;
  font-family: "freight-sans-pro", sans-serif;
  margin-top: 6.41872em;
}
/* line 39, ../extensions/typeup/stylesheets/_typeup.scss */
#main h1 {
  font-size: 3.1104em;
  margin-top: 0.51591em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.03182;
  top: -0.15em;
}
/* line 44, ../extensions/typeup/stylesheets/_typeup.scss */
#main h2 {
  font-size: 2.16em;
  margin-top: 1.11436em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.11436;
  top: -0.15em;
}
/* line 48, ../extensions/typeup/stylesheets/_typeup.scss */
#main h3 {
  font-size: 1.8em;
  margin-top: 1.33723em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.33723;
  top: -0.15em;
}
/* line 52, ../extensions/typeup/stylesheets/_typeup.scss */
#main h4 {
  font-size: 1.5em;
  margin-top: 1.06979em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.06979;
  top: -0.15em;
}
/* line 56, ../extensions/typeup/stylesheets/_typeup.scss */
#main h5 {
  font-size: 1.25em;
  margin-top: 1.28374em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.28374;
  top: -0.15em;
}
/* line 60, ../extensions/typeup/stylesheets/_typeup.scss */
#main h6 {
  font-size: 1.25em;
  font-style: italic;
  margin-top: 1.28374em;
  margin-bottom: 0em;
  position: relative;
  line-height: 1.28374;
  top: -0.15em;
}
/* line 66, ../extensions/typeup/stylesheets/_typeup.scss */
#main p {
  margin-bottom: 1.60468em;
}
/* line 70, ../extensions/typeup/stylesheets/_typeup.scss */
#main blockquote {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1.60468em;
  margin-top: 1.60468em;
  margin-bottom: 1.60468em;
}
/* line 76, ../extensions/typeup/stylesheets/_typeup.scss */
#main blockquote p:last-child {
  margin-bottom: 0;
}
@media (max-width: 40.70936em) {
  /* line 11, ../sass/screen.scss */
  #main {
    width: auto;
    padding-left: 1.60468em;
    padding-right: 1.60468em;
  }
}

/* line 23, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: "kepler-std-caption", serif;
}

/* line 28, ../sass/screen.scss */
p {
  color: #444;
}
