@import "modular-scale";
@import "compass/typography/vertical_rhythm";
@import "typeup/settings";

/*------------------------------

TYPOGRAPHY CALCULATIONS

--------------------------------*/

// This variable is for modular-scale, copied from fontSize.
$base-size: $fontSize; 

// $xHeight multiplier and $fontSize combined for use in calculations
$xRatio: $xHeight * ($fontSize / 1em);

// Calculate lineheight. 
$lineHeight: sqrt($containerWidth  * $xRatio * 0.036 + 1em) * 1em;

// Check how many line-heights needed for font size. Can return half a baseline height.
@function headingLines($font-size) {
	$lines: ceil(2 * $font-size / $lineHeight) / 2;
	@return $lines;
}

/*------------------------------

THE MIXIN

--------------------------------*/

@mixin typeup() {

	line-height: $lineHeight;
	font-size: $fontSize;
	width: $containerWidth;
	margin: 0 auto;

	h1 {
		font-size: ms(5);
		@include heading-spacer(ms(5));
	}

	h2 {
		font-size: ms(3);
		@include heading-spacer(ms(3));
	}
	h3 {
		font-size: ms(2);
		@include heading-spacer(ms(2));
	}
	h4 {
		font-size: ms(1);
		@include heading-spacer(ms(1));
	}
	h5 {
		font-size: ms(0);
		@include heading-spacer(ms(0));
	}
	h6 {
		font-size: ms(0);
		font-style:italic;
		@include heading-spacer(ms(0));
	}

	p {
		margin-bottom: $lineHeight;
	}

	blockquote {
		background-color:rgba(0,0,0,0.2);
		padding: $lineHeight;
		margin-top: $lineHeight;
		margin-bottom:$lineHeight;

		p:last-child {
			margin-bottom:0;
		}
	}

}

@mixin heading-spacer($size-in-ems, $before: $heading-lines-before,
	$after: $heading-lines-after,
	$baselineShift: $headingBaselineShift) {

	$adjust: 0em;

	// If heading lineheight is not a full baseline height, adjust
	@if (headingLines($size-in-ems)/1em) % 1 == 0.5 {
		$adjust: (($lineHeight/ $size-in-ems) / 2) * 1em;
	}

	margin-top:$before * ($lineHeight / $size-in-ems) * 1em + $adjust;
	margin-bottom: $after * ($lineHeight / $size-in-ems) * 1em;
	position:relative;
	line-height: ($lineHeight / $size-in-ems) * headingLines($size-in-ems);
	top: 0em - $baselineShift; 
}

