/*
* http://stackoverflow.com/questions/
12328259/how-do-you-strip-the-unit-from-any-number-in-sass/
12335841#12335841
*/
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

// Check how many line-heights needed for font size. Can return half a baseline height.
@function typeup-headingLines($font-size: $fontSize,
								$lineHeight: $typeup-lineHeight) {
	$lines: ceil(2 * $font-size / $lineHeight) / 2;
	@return $lines;
}

@function typeup-calcLineHeight($fontSize: $fontSize,
								$lineLength: $lineLength,
								$xHeight: $xHeight) {

	/*
	* Making the variables unitless.
	*
	*/

	$fontSizeUnitless: strip-units($fontSize);
	$lineLengthUnitless: strip-units($lineLength);

	// Calculate xRatio
	$xRatio: $xHeight * $fontSizeUnitless;

	// Calculate the proper line height.
	$lineHeightUnitless: sqrt($lineLengthUnitless * $xRatio * 0.036 + 1);

	/*
	* Moving on to pixel snapping. We don't want a line-height of 24.334571px,
	* we want it nicely at 24px.
	*/

	// Assuming we are using 16px as base size.
	$baseFontSize: 16px;

	// Rounding the line height to nearest pixel
	$lineHeightInPx: round($lineHeightUnitless * $fontSizeUnitless * 16px);

	// Assign the final variable with the unit stored in the beginning
	$snappedLineHeight: ($lineHeightInPx / ($fontSizeUnitless * 16px)) * 1em;

	@return $snappedLineHeight;
}

@function typeup-heading-lines-before($tag) {
	@if $tag == h1 {
		@return $h1-lines-before;
	}
	@if $tag == h2 {
		@return $h2-lines-before;
	}
	@if $tag == h3 {
		@return $h3-lines-before;
	}
	@if $tag == h4 {
		@return $h4-lines-before;
	}
	@if $tag == h5 {
		@return $h5-lines-before;
	}
	@if $tag == h6 {
		@return $h6-lines-before;
	}
}

@function typeup-heading-lines-after($tag) {
	@if $tag == h1 {
		@return $h1-lines-after;
	}
	@if $tag == h2 {
		@return $h2-lines-after;
	}
	@if $tag == h3 {
		@return $h3-lines-after;
	}
	@if $tag == h4 {
		@return $h4-lines-after;
	}
	@if $tag == h5 {
		@return $h5-lines-after;
	}
	@if $tag == h6 {
		@return $h6-lines-after;	}
}

@function typeup-heading-baseline-shift($tag) {
	@if $tag == h1 {
		@return $h1-baseline-shift;
	}
	@if $tag == h2 {
		@return $h2-baseline-shift;
	}
	@if $tag == h3 {
		@return $h3-baseline-shift;
	}
	@if $tag == h4 {
		@return $h4-baseline-shift;
	}
	@if $tag == h5 {
		@return $h5-baseline-shift;
	}
	@if $tag == h6 {
		@return $h6-baseline-shift;	}
}
