//-----------------------
//
// MAIN SETTINGS
//
//-----------------------

// Base font size, in ems.
$fontSize: 1.25em !default;

// Container width. Final absolute width depends on font size.
$lineLength: 35em !default;

//
// This is a multiplier you can use to adjust line height,
// particularly for fonts with very high or low x-heights.
//
$xHeight:1 !default;

// The ratio scale that modular-scale will use.
$ratio: golden() !default;

// This variable is for modular-scale, copied from fontSize.
$base-size: $fontSize; 

$typeup-lineHeight: typeup-calcLineHeight($fontSize, $lineLength, $xHeight) !default;

//-----------------------
//
// DETAILED SETTINGS
//
//-----------------------

//----------------------------------
// Heading spacing default settings
//----------------------------------

// How many line-heights of margin on top of heading
$heading-lines-before: 1 !default;

// How many line-height of margin on bottom of heading
$heading-lines-after: 0 !default;

// Amount of baseline-shift in em (relative to heading size)
$headingBaselineShift:0em !default;

//----------------------------------
// Heading spacing
//----------------------------------

// H1 Spacing settings
$h1-lines-before: 1 !default;
$h1-lines-after: $heading-lines-after !default;
$h1-baseline-shift: $headingBaselineShift !default;

// H2 Spacing settings
$h2-lines-before: $heading-lines-before !default;
$h2-lines-after: $heading-lines-after !default;
$h2-baseline-shift: $headingBaselineShift !default;

// H3 Spacing settings
$h3-lines-before: $heading-lines-before !default;
$h3-lines-after: $heading-lines-after !default;
$h3-baseline-shift: $headingBaselineShift !default;

// H4 Spacing settings
$h4-lines-before: $heading-lines-before !default;
$h4-lines-after: $heading-lines-after !default;
$h4-baseline-shift: $headingBaselineShift !default;

// H5 Spacing settings
$h5-lines-before: $heading-lines-before !default;
$h5-lines-after: $heading-lines-after !default;
$h5-baseline-shift: $headingBaselineShift !default;

// H6 Spacing settings
$h6-lines-before: $heading-lines-before !default;
$h6-lines-after: $heading-lines-after !default;
$h6-baseline-shift: $headingBaselineShift !default;